<div [formGroup]="form" class="form-row">
  <div formArrayName="inputFields">
    <div>
      <tr *ngFor="let inputField of getControls(form, 'inputFields'); let i=index" [ngClass]="{'vertical-row':formName === 'Restaurant-Form'}">
        <div [formGroupName]="i">
          <td *ngFor="let field of fields" [ngClass]="{'horizontal-column': formName=== 'Restaurant-Form'}">
            <div *ngIf="field.canBeMultiple">
              <div [formArrayName]="field.key">
                <div *ngFor="let multiple of inputField.get('search_tag').controls let j=index">
                  <div [formGroupName]="j">
                    <div [ngSwitch]="field.controlType">
                      <label [attr.for]="field.key" ng-class="{'col-xs-12 col-sm-12': true, 'col-xs-12 col-sm-12 col-md-6': false}[formName === 'Menu-Item-Form']">{{field.label}}</label>
                      <a (click)="addField(field, inputField.controls.search_tag)">
                        <span class="glyphicon glyphicon-plus" *ngIf="field.canBeMultiple"></span>
                      </a>
                      <input *ngSwitchCase="'textbox'" [formControlName]="field.key" [type]="field.type" ng-class="{'col-xs-12 col-sm-12': true, 'col-xs-12 col-sm-12 col-md-6': false}[formName === 'Menu-Item-Form']">
                      <div *ngIf="form.controls.inputFields.controls[i].invalid && (form.controls.inputFields.controls[i].dirty || form.controls.inputFields.controls[i].touched)">
                        <div *ngIf="form.controls.inputFields.controls[i].controls[field.key].invalid" class="alert alert-danger">
                          {{field.label}} is required.
                        </div>
                      </div>
                      <select [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key">
                        <option *ngFor="let opt of field.options[0]" [value]="opt.search_tag">{{opt.search_tag}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!field.canBeMultiple">
              <div [ngSwitch]="field.controlType">
                <label [attr.for]="field.key" ng-class="{'col-xs-12 col-sm-12': true, 'col-xs-12 col-sm-12 col-md-6': false}[formName === 'Menu-Item-Form']">{{field.label}}</label>
                <input *ngSwitchCase="'textbox'" [formControlName]="field.key" [type]="field.type" ng-class="{'col-xs-12 col-sm-12': true, 'col-xs-12 col-sm-12 col-md-6': false}[formName === 'Menu-Item-Form']">
                <div *ngIf="form.controls.inputFields.controls[i].invalid && (form.controls.inputFields.controls[i].dirty || form.controls.inputFields.controls[i].touched)">
                  <div *ngIf="form.controls.inputFields.controls[i].controls[field.key].invalid" class="alert alert-danger">
                    {{field.label}} is required.
                  </div>
                </div>
                <select [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key">
                  <option *ngFor="let opt of field.options[0]" [value]="opt.name">{{opt.name}}</option>
                </select>
              </div>
            </div>
          </td>
        </div>
      </tr>
    </div>
  </div>
</div>

