<div [formGroup]="form" class="form-row">
  <div formArrayName="inputFields">
    <div *ngFor="let inputField of getControls(form, 'inputFields'); let i=index">
      <div [formGroupName]="i">

        <div [ngSwitch]="field.controlType">
          <label [attr.for]="field.key" ng-class="{'col-xs-12 col-sm-12': true, 'col-xs-12 col-sm-12 col-md-6': false}[formName === 'Menu-Item-Form']">{{field.label}}</label>

          <input *ngSwitchCase="'textbox'" [formControlName]="field.key" [type]="field.type" ng-class="{'col-xs-12 col-sm-12': true, 'col-xs-12 col-sm-12 col-md-6': false}[formName === 'Menu-Item-Form']">
          <div *ngIf="form.controls.inputFields.controls[i].invalid && (form.controls.inputFields.controls[i].dirty || form.controls.inputFields.controls[i].touched)">
            <div *ngIf="form.controls.inputFields.controls[i].controls[field.key].invalid" class="alert alert-danger">
              {{field.label}} is required.
            </div>
          </div>
          <select [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key" class="col-xs-12 col-sm-12 col-md-3">
            <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
          </select>

          <input *ngSwitchCase="'file'" [formControlName]="field.key" [id]="field.key" [type]="field.type" (change)="getFileDetails($event)">

        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div formArrayName="addresses">
          <div *ngFor="let address of myForm.controls.addresses.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Address {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-xs-6">
                <label>street</label>
                <input type="text" class="form-control" formControlName="street">
                <small [hidden]="myForm.controls.addresses.controls[i].controls.street.valid" class="text-danger">
                  Street is required
                </small>
              </div>
              <div class="form-group col-xs-6">
                <label>postcode</label>
                <input type="text" class="form-control" formControlName="postcode">
              </div>
            </div>
          </div>
        </div> -->