<div class="container">

  <div class="page-header text-center">
    <h1>
      <span class="fa fa-anchor"></span> Profile Page</h1>
      <button (click)="logout()" class="btn btn-default">Logout</button>
  </div>

  <div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3>
          <span class="fa fa-user"></span> User information</h3>

        <p>
          <strong>Welcome</strong>:
            {{user.name}}
            <br>
            <strong>email</strong>:
            {{user.email}}
        </p>

      </div>
    </div>

  </div>

  <a href="addRestaurant">Add restaurant</a>
  <a href="addMenu">Add items</a>
</div>
